<%- include ../header.ejs %>
  <%- include ../searchBarInPlace.ejs %>

  <h1>Results for query: <%- query %></h1>

  <% results.forEach(function (result) { %>
    
    <div class='result__block'> 
      <a href='/gif/<%- result.gif_name %>' style='text-decoration : none'>
        <img src="/out/<%- result.gif_name %>" class='img__result'/>
      </a>
    </div>
  <% }) %>

<%- include ../footer.ejs %>
