<%- include ../header.ejs %>
  <%- include ../searchBarInPlace.ejs %>
  <h1>GifQuote</h1>
  <h2>Results for query: <%- query %></h2>
  
  <div style='width : 1000px; margin : auto'>
  <% results.forEach(function (result) { %>
    
    <div class='result__block'> 
      <a href='/gif/<%- result.gif_name %>' style='text-decoration : none'>
        <img src="/out/<%- result.gif_name %>" class='img__result'/>
      </a>
    </div>
  <% }) %>
  </div>

<%- include ../footer.ejs %>
