<%- include ../header.ejs %>
  <%- include ../searchBarInPlace.ejs %>

  <h1>Results for query: <%- query %></h1>

  <% results.forEach(function (result) { %>
   <img src="/gif/<%- result.gif_name %>" class='img_result'/>
  <% }) %>

<%- include ../footer.ejs %>
