<%- include ../header.ejs %>
  <%- include ../searchBarInPlace.ejs %>
  <h1>GifQuote</h1>
  <h2>Results for query: <%- query %></h2>
  
  <div style='width : 1000px; margin : auto'>
  <% results.forEach(function (result) { %>
    
    <div class='result__block'> 
      <a href='/gif/<%- result.gif_name %>' style='text-decoration : none'>
        <div style="background-image : url('/out/<%- result.frame_name || result.gif_name %>')" 
          onMouseOver="this.style.backgroundImage='url(\'/out/<%- result.gif_name %>\')'"
          onMouseOut="this.style.backgroundImage='url(\'/out/<%- result.frame_name || result.gif_name %>\')'"
         class='img__result'></div>
         <div class='movie__name'><%- result.movie %></div>
      </a>
    </div>
  <% }) %>
  </div>

<%- include ../footer.ejs %>
