<%- include ../header.ejs %>
  <%- include ../searchBarInPlace.ejs %>

  <h1>GifQuote</h1>
  <h2>Viewing gif: </h2>


  <div class='view__container'> 
    <img src="/out/<%- gif %>" />
    
    <div class='single__nav'>
      <div style='float : left; font-size : 20px' >
        <a class='single_nav--button' href='/gif/<%- previous %>'>&lt; Prev</a>
      </div>

      <div style='float : right; font-size : 20px'>
        <a class='single_nav--button' href='/gif/<%- next %>'>Next &gt;</a>
      </div>
    </div>




    <div class='single__extract'>
      Embed on your site : <br/>

      <textarea style='width : 610px; border-radius : 2px; height: 20px'>&lt;img src="http://gifquote.com/out/<%- gif%>" /&gt;</textarea>
    </div>

    <div class='single__extract'>
      Link to image:    <button id="copy-button" data-clipboard-text="http://gifquote.com/out/<%- gif%>" title="copy">(copy)</button><br/>
      http://gifquote.com/out/<%- gif%>
    </div>

    <div class='single__extract--share'>
      Share on Social Networks!<br/>
      <div class="fb-like" data-href="http://gifquote.com/gif/<%- gif%>" data-width="200" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
       <div class="g-plusone" data-annotation="inline" data-width="50"></div>
    </div>


 
  <script src="../ZeroClipboard.min.js"></script>
  <script>
  var client = new ZeroClipboard( document.getElementById("copy-button"), {
  moviePath: "../ZeroClipboard.swf"
} );

client.on( "load", function(client) {
  // alert( "movie is loaded" );

  client.on( "complete", function(client, args) {
    // `this` is the element that was clicked
    this.innerHTML = 'Link Copied!';
  } );
} );
  </script>

  <%- result %>



<%- include ../footer.ejs %>
